/* Additional CSS for Registration Form */
.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2%;
  width: 60%;
  margin: 1%;
}

.input-icons {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
}

input,
select {
  width: 80%;
  height: 6vh;
  padding: 10px 40px 10px 40px;
  margin-bottom: 1em;
  border-radius: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
}

select {
  width: 89.5%;
  height: 9vh;
  padding: 10px 40px 10px 40px;
  margin-bottom: 1em;
  border-radius: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
}

.button-group {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background: #272829;
  color: #fff;
  font-size: 20px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto; /* Add this to move the button to the right */
}

.button-group:hover {
  color: white;
  background-color: #000408;
}
